<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 만약 null로 데이터가 전달된다면 빈칸이 아닌 null로 인식하겠다는 설정 -->
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- _바로 작성된 카멀케이스를 자동으로 변경 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
<!--         <setting name="logImpl" value="STDOUT_LOGGING"/> -->
	</settings>
	<typeAliases>
		<package name="com.mm" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="MANDLEMANDLE" />
				<property name="password" value="MANDLEMANDLE" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="/mappers/attachment-mapper.xml" />
		<mapper resource="/mappers/board-mapper.xml" />
		<mapper resource="/mappers/category-mapper.xml" />
		<mapper resource="/mappers/jjim-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/message-mapper.xml" />
		<mapper resource="/mappers/portfolio-mapper.xml" />
		<mapper resource="/mappers/report-mapper.xml" />
		<mapper resource="/mappers/request-mapper.xml" />
		<mapper resource="/mappers/search-mapper.xml" />
		<mapper resource="/mappers/area-mapper.xml" />
		<mapper resource="/mappers/admin-mapper.xml" />
	</mappers>
</configuration>