<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap id="memberResultSet" type="member">
		<id column="USER_NO" property="userNo" />
		<result column="EMAIL" property="email"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="BIRTH" property="birth"/>
		<result column="GENDER" property="gender"/>
		<result column="PHONE" property="phone"/>
		<result column="ZIPCODE" property="zipcode"/>
		<result column="ADDRESS1" property="address1"/>
		<result column="ADDRESS2" property="address2"/>
		<result column="ADDRESS3" property="address3"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="CONNECT_DATE" property="connectDate"/>
		<result column="STATUS" property="status"/>
		<result column="MEMBER_DIVIDE_NO" property="memberDivideNo"/>
		<result column="GRADE_NO" property="gradeNo"/>
		<result column="BLACK_STATUS" property="blackStatus"/>
	</resultMap>
	<resultMap id="gradeResultSet" type="grade">
		<id column="GRADE_NO" property="gradeNo" />
		<result column="GRADE_NAME" property="gradeName"/>
	</resultMap>
	<resultMap id="memberDivideResultSet" type="memberDivide">
		<id column="MEMBER_DIVIDE_NO" property="memberDivideNo" />
		<result column="MEMBER_DIVIDE_NAME" property="memberDivideName"/>
	</resultMap>
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE EMAIL = #{email} AND USER_PWD = #{userPwd} AND STATUS = 'Y'
	</select>
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER (USER_NO, EMAIL, USER_PWD, USER_NAME, BIRTH, GENDER, PHONE, ZIPCODE, ADDRESS1, ADDRESS2, ADDRESS3, ENROLL_DATE, MODIFY_DATE, CONNECT_DATE, STATUS, MEMBER_DIVIDE_NO, GRADE_NO, BLACK_STATUS)
		VALUES(SEQ_MNO.NEXTVAL, #{email}, #{userPwd}, #{userName}, #{birth}, #{gender}, #{phone}, #{zipcode}, #{address1}, #{address2}, #{address3}, SYSDATE, SYSDATE, SYSDATE, 'Y', #{memberDivideNo}, 100, 'N')
	</insert>
	<select id="searchPwd" parameterType="member" resultType="member">
		SELECT * FROM MEMBER WHERE EMAIL = #{email} AND USER_NAME = #{userName} AND STATUS = 'Y'
	</select>
	<update id="changePwd" parameterType="member">
		 UPDATE MEMBER SET USER_PWD = #{userPwd} WHERE USER_NO = #{userNo} AND STATUS = 'Y'
	</update>
	<select id="verifyEmail" resultType="member">
		SELECT EMAIL FROM MEMBER WHERE EMAIL = #{email} AND STATUS = 'Y'
	</select>
</mapper>