<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchMapper">
	<select id="searchMentor1"  resultType="portfolio">
	SELECT *
	FROM (	
		SELECT
		P.PTF_NO, P.INTRODUCE, P.PTF_CONTENT, P.STATUS, P.MTO_NO, SD.SIDO_NAME, SG.SIGUNGU_NAME, B.CATEGORY_NAME, S.SUBCATEGORY_NAME, A.CHANGE_NAME,
		COALESCE(AVG(R.SCORE), 0) AS AVERAGE_SCORE, 
		COUNT(DISTINCT R.REVIEW_NO) AS REVIEW_COUNT,
		COUNT(DISTINCT CASE WHEN RQ.REQUEST_NO IS NOT NULL THEN RQ.REQUEST_NO END) AS REQUEST_COUNT
		FROM PORTFOLIO P
		LEFT JOIN REVIEW R ON R.REF_PNO = P.PTF_NO AND R.STATUS = 'Y'
		LEFT JOIN REQUEST RQ ON RQ.MTO_NO = P.MTO_NO AND RQ.STATUS = 'Y'
		LEFT JOIN SUB_CATEGORY S ON S.SUBCATEGORY_NO = P.SUBCATEGORY_NO
		LEFT JOIN BIG_CATEGORY B ON S.REF_CATEGORY_NO = B.CATEGORY_NO
		LEFT JOIN SIGUNGU SG ON SG.SIGUNGU_NO = P.SIGUNGU_NO
		LEFT JOIN SIDO SD ON SD.SIDO_NO = SG.SIDO_NO
	    LEFT JOIN ATTACHMENT A ON A.REF_BNO = P.PTF_NO
		WHERE S.SUBCATEGORY_NAME = #{category} AND FILE_LEVEL = 1 AND P.STATUS = 'Y'
		GROUP BY P.PTF_NO, P.INTRODUCE, P.PTF_CONTENT, P.STATUS, P.MTO_NO, SD.SIDO_NAME, SG.SIGUNGU_NAME, B.CATEGORY_NAME, S.SUBCATEGORY_NAME, A.CHANGE_NAME
		ORDER BY AVERAGE_SCORE DESC
	)
	WHERE ROWNUM &lt;= 20

	</select>
	<select id="searchMentor2" resultType="portfolio">
	SELECT *
	FROM (
	    SELECT
	        P.PTF_NO, P.INTRODUCE, P.PTF_CONTENT, P.STATUS, P.MTO_NO, SD.SIDO_NAME, SG.SIGUNGU_NAME, B.CATEGORY_NAME, S.SUBCATEGORY_NAME, A.CHANGE_NAME,
	        COALESCE(AVG(R.SCORE), 0) AS AVERAGE_SCORE, 
	        COUNT(DISTINCT R.REVIEW_NO) AS REVIEW_COUNT,
	        COUNT(DISTINCT CASE WHEN RQ.REQUEST_NO IS NOT NULL THEN RQ.REQUEST_NO END) AS REQUEST_COUNT
	    FROM PORTFOLIO P
	    LEFT JOIN REVIEW R ON R.REF_PNO = P.PTF_NO AND R.STATUS = 'Y'
	    LEFT JOIN REQUEST RQ ON RQ.MTO_NO = P.MTO_NO AND RQ.STATUS = 'Y'
	    LEFT JOIN SUB_CATEGORY S ON S.SUBCATEGORY_NO = P.SUBCATEGORY_NO
	    LEFT JOIN BIG_CATEGORY B ON S.REF_CATEGORY_NO = B.CATEGORY_NO
	    LEFT JOIN SIGUNGU SG ON SG.SIGUNGU_NO = P.SIGUNGU_NO
	    LEFT JOIN SIDO SD ON SD.SIDO_NO = SG.SIDO_NO
	    LEFT JOIN ATTACHMENT A ON A.REF_BNO = P.PTF_NO
	    WHERE S.SUBCATEGORY_NAME != #{category} AND FILE_LEVEL = 1 AND P.STATUS = 'Y'
	    GROUP BY P.PTF_NO, P.INTRODUCE, P.PTF_CONTENT, P.STATUS, P.MTO_NO, SD.SIDO_NAME, SG.SIGUNGU_NAME, B.CATEGORY_NAME, S.SUBCATEGORY_NAME, A.CHANGE_NAME
	    ORDER BY AVERAGE_SCORE DESC
	)
	WHERE ROWNUM &lt;= 20

	</select>
</mapper>