/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: block;
}

.txt-invisible {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

body {
	background-color: #eff2f8;
}

body::-webkit-scrollbar {
	display: none;
}
/* header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 45px 60px;
	background-color: white;
	color: black; /* �긽�떒 about project contact 湲��뵪 �깋*/
	font-size: 18px;
	/* border-bottom: 1px solid #e0e3fd; */
	z-index: 10;
}

.nav-list {
	display: flex;
	justify-content: right;
}

.list-link {
	margin-left: 70px;
}

.list-link:hover {
	color: black;
	border-bottom: 2px solid black;
}

.btn-code {
	padding: 8px 23px;
	border-radius: 20px;
	background-color: #57D9FF;
	border: solid 2px #57D9FF;
	color: white;
}

.btn-code:hover {
	background-color: white;
	border: solid 2px #57D9FF;
	color: #57D9FF;
	transition: 0.2s ease-out;
}

.bar-bg {
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: 0;
	left: 0;
	background-color: #bbf5ff;
}

.bar-ing {
	position: absolute;
	height: 5px;
	bottom: 0;
	left: 0;
	background-color: #57D9FF;
}

/* intro�꽮�뀡 */
.cont-intro {
	margin: 250px 0 350px 0;
	display: flex;
	justify-content: center;
}

.cont-intro img {
	width: 230px;
	margin-right: 40px;
}

.txt-title {
	width: 620px;
	margin-top: 30px;
	font-size: 55px;
	font-family: "GmarketBold";
	color: #57D9FF;
	line-height: 58px;
}

.txt-about li {
	margin-top: 35px;
	font-size: 18px;
	font-family: "GmarketBold";
}

.btn-more {
	position: absolute;
	bottom: 85%;
	padding: 8px 27px;
	border-radius: 20px;
	background-color: #57D9FF;
	border: solid 2px #57D9FF;
	color: white;
	font-size: 18px;
	margin-top: 40px;
}

.btn-more:hover {
	background-color: white;
	border: solid 2px #57D9FF;
	color: #57D9FF;
	transition: 0.7s ease-out;
}

/* about�꽮�뀡 */
.section-about {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	padding: 80px 0 140px 0;
	margin: 0 0 140px 0;
}

.section-about h2 {
	margin: 0 auto 100px;
	display: inline-block;
	font-family: "GmarketBold";
	color: #57D9FF;
	font-size: 40px;
}

.cont-about {
	display: flex;
	margin: 0 auto;
}

.slide-container {
	width: 438px;
	margin: 0 auto;
}

.slide-album {
	position: relative;
	width: 438px;
	height: 438px;
	overflow: hidden;
	border-radius: 20px;
}

.slide-images {
	position: relative;
	display: flex;
	height: 438px;
}

.slide-images img {
	width: 438px;
	height: 438px;
}

.btn-next, .btn-next:active, .btn-next:focus {
	position: absolute;
	padding: 8px 8px 7px 14px;
	background-color: #57D9FF;
	color: white;
	border: none;
	font-size: 18px;
	border-radius: 100%;
}

.btn-prev, .btn-prev:active, .btn-prev:focus {
	position: absolute;
	padding: 8px 14px 7px 8px;
	background-color: #57D9FF;
	color: white;
	border: none;
	font-size: 20px;
	border-radius: 100%;
}

.btn-next:disabled, .btn-prev:disabled {
	background-color: lightgray;
}

.btn-next:hover, .btn-prev:hover {
	cursor: pointer;
	background-color: white;
	color: #57D9FF;
	transition: 0.7s ease-out;
}

.btn-prev {
	left: 18px;
	top: 50%;
}

.btn-next {
	right: 18px;
	top: 50%;
}

.info-about {
	margin: 0 0 0 60px;
}
/* �떎�뼇�븳 遺꾩빞�뿉�꽌 遺�遺�*/
.txt-about dt {
	display: inline-block;
	margin-bottom: 17px;
	width: 110px;
	font-size: 22px;
	font-family: "GmarketBold";
	color: #57D9FF;
}

.txt-about {
	margin-top: 55px;
}

.txt-about dd {
	display: inline-block;
	font-size: 22px;
}

.btn-about {
	margin: 45px 0 0 20px;
}

/* project�꽮�뀡 */
.section-project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 180px;
}

.section-project h2 {
	margin: 0 auto;
	display: inline-block;
	font-family: "GmarketBold";
	color: #57D9FF;
	font-size: 40px;
	margin-bottom: 40px;
}

.box-project {
	margin: 30px auto;
	display: flex;
	padding: 35px;
	width: 1000px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-project {
	border-radius: 15px;
	width: 452px;
}

.txt-project {
	text-align: left;
	margin: 25px 0 0 40px;
}

.txt-project h3 {
	font-family: "GmarketBold";
	font-size: 28px;
	line-height: 35px;
	margin-bottom: 30px;
}

.txt-project dl dt {
	font-family: "GmarketBold";
	font-size: 22px;
	margin-bottom: 6px;
}

.txt-project dl dd {
	font-size: 20px;
	margin-bottom: 25px;
}

/* moveTop 踰꾪듉 */
.btn-moveTop {
	position: fixed;
	right: 60px;
	bottom: 60px;
	width: 65px;
	height: 65px;
	border-radius: 20px;
	background-color: #57D9FF;
	border: none;
	cursor: pointer;
	font-size: 20px;
	font-family: "GmarketBold";
}